*.core
*.bundle
*.old
*.o
*.bs
*.xsc
*.log
*.gif
*.jpeg
*.jpg
*.png
*.psd
*.bmp
*.avi
*.doc
*.gz
tmon.out
logs/*
tmp/*
blib/*
pm_to_blib
Makefile
*.orig
.hg*
MANIFEST.SKIP
.hgignore
*.bak
XS.c
MANIFEST
MYMETA.*
